<div id="navTop" class="navbar navbar-inverse navbar-fixed-top" role="navigation">

    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" rel="home" href="#">Nombre</a>
    </div>

    <div class="collapse navbar-collapse">

        <ul class="nav navbar-nav">
            <li><a href="#">Proyectos</a></li>
            <li><a href="#">Productoras</a></li>
            <li><a href="#">Tecnicos</a></li>
            <li><a href="#">Actores</a></li>

        </ul>
        <!--		<button type="button" class="btn btn-default navbar-btn">Button</button>-->
        <!--
                <div class="col-sm-3 col-md-3 pull-right">
                <div class="navbar-text">Text</div>
                <form class="navbar-form" role="search">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search" name="srch-term" id="srch-term">
                    <div class="input-group-btn">
                        <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                    </div>
                </div>
                </form>
                </div>
        -->
        <div class="hidden-xs pull-right">
            <ul clasS="nav navbar-nav">
                <li><a href="#">Iniciar sesión</a></li>
                <li><a href="#">Registrarme</a></li>
            </ul>
        </div>
        <ul clasS="nav navbar-nav visible-xs">
            <li>Iniciar sesión</li>
            <li>Registrarme</li>
        </ul>

        <div class="hidden-xs pull-right">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Usuario <b class="caret"></b></a>
                    <ul class="dropdown-menu dropdown-menu-right">
                        <li><a href="#">Mi perfil</a></li>
                        <li><a href="#">Mis proyectos</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Mis participaciones</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Cerrar sesión</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <ul class="nav navbar-nav visible-xs">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Usuario <b class="caret"></b></a>
                <ul class="dropdown-menu dropdown-menu-right">
                    <li><a href="#">Mi perfil</a></li>
                    <li><a href="#">Mis proyectos</a></li>
                    <li><a href="#">Mis participaciones</a></li>
                    <li><a href="#">Cerrar sesión</a></li>
                </ul>
            </li>
        </ul>


    </div>
</div>