@using Productoras.Helpers
    
<div class="jumbotron index_jumbotron">
    <video id="index_video_background" preload muted autoplay loop>
        <source src="http://www.w3schools.com/html/mov_bbb.mp4" type="video/mp4">
        <!--
                    <source src="http://www.w3schools.com/html/mov_bbb.mp4" type="video/mp4">
                    <source src="http://www.w3schools.com/html/mov_bbb.ogg" type="video/ogg">
        -->
    </video>
    <div class="row text-center">
        <div class="col-sm-12 index_jumbotron_slogan">
            <div class="">
                TITULO DEL ESLOGAN
            </div>
        </div>
    </div>

    <div class="row text-center">
        <div class="col-sm-12 index_jumbotron_slogan_sub">
            <small>
                Subtitulo para el slogan principal que irá situado justo bajo el eslogan.
            </small>
        </div>
    </div>

    <div class="row text-center">
        <div class="col-sm-12 index_jumbotron_botones main-nav">
            <a href="/Usuario/Registro"><button class="btn">Registrarme</button></a>
            <a href="/Usuario/Login"><button class="btn">Identificarme</button></a>
                @*@Ajax.RawActionLink("<button class='btn'>Registrarme</button>", "Registro", "Usuario", null, new AjaxOptions { UpdateTargetId = "funcion_result", OnSuccess = "cerrar_cargando(); load_registro()" }, null)
            @Ajax.RawActionLink("<button class='btn'>Identificarme</button>", "getLogin", "Usuario", null, new AjaxOptions { UpdateTargetId = "funcion_result", OnSuccess = "load_login()" }, null)*@
</div>
    </div>

    <div class="index_jumbotron_buscador">
        <div class="row text-center">
            <div class="col-sm-12">

                <div class="buscador_formulario hidden-xs">
                    <form action="buscar" method="get">

                        <div class="buscador_inputs">

                            <div class="buscador_ciudad">
                                <input type="text" name="ciudad">
                            </div>

                            <div class="buscador_profesional">
                                <input type="text" name="profesionales">
                            </div>

                            <div class="buscador_submit">

                                <button type="submit" class="btn btn-primary btn-large">
                                    Buscar
                                </button>
                            </div>
                        </div>



                    </form>
                </div>

            </div>
        </div>
    </div>

</div>
<script>
    function cerrar_login() {
        $(".opaca-gris").on("click", function () {
                $(".login_popup").removeClass("animated zoomIn");
                $(".login_popup").addClass("animated zoomOut");
                $(".login_popup").fadeOut(300);
                $(".opaca-gris").fadeOut(300);
            });
    }

    function load_login() {
        $(".login_popup").removeClass("animated zoomOut");
        $(".login_popup").addClass("animated zoomIn");
        $(".login_popup").fadeIn(300);
        $(".opaca-gris").fadeIn(300);
        $('html,body').animate({
                scrollTop: 0
            }, 1000, "easeInOutExpo");
        cerrar_login();
    }
</script>