@model Productoras.Models.frmUsuariosDefineTecnico

<div class="categorias">
    @foreach (var categoria in ViewBag.lstCategorias)
    {
        @Ajax.ActionLink((string)categoria.nombre_c + " ", "GetSubcategorias", new { id = categoria.id }, new AjaxOptions { UpdateTargetId = "subcategoria", InsertionMode = InsertionMode.Replace, HttpMethod = "GET" })
    }
</div>

<div id="subcategoria">
    
</div>
<script>
    function actualizarSubcategoria(data) {
        $('.subcategoria').html('doss');
    }
</script>